<main class="container">
  <div class="row">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid nb-header">
        <a class="navbar-brand" href="#" routerLink="home">
          <img src="assets/images/full-umbrella-corp-logo.png" class="header-img" alt="umbrella">
        </a>
      </div>
    </nav>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <!-- <app-publicity></app-publicity> -->
    </div>
    <div class="col-sm-12 col-md-6">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>
